<div class="col-md-10 col-md-offset-1">
<h1>Sessions</h1>
<hr>
<% if @sessions.count > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Host</th>
        <th>Port</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <%= render @sessions %>
  </table>
<% else %>
  <h2 align="center"><strong>Nothing to see here...</strong></h2>
  <h3 align="center">Consider <%= link_to "starting a session", new_session_path %>.
  </h3>
<% end %>
