<% provide(:title, "home") %>
<% if user_signed_in? %>
  <div class="col-md-10 col-md-offset-1">
    <h1>Hi!</h1>
    <p>You can initiate a new session, or look at your keys.</p>
  </div>
<% else %>
  <div class="col-md-10 col-md-offset-1">
  <h1>Welcome to Koguchi</h1>
  <p>This is a web interface to request a containerized SSH instance.
     Sign in by using the <em>Sign In</em> dropdown in the upper right hand
     corner.</p>
  </div>
<% end %>
