<% provide(:title, "home") %>
<% if user_signed_in? %>
  <div class="col-md-10 col-md-offset-1">
    <h1>Welcome</h1>
    <p>Koguchi is an application that manages non-persistant containers that
       allow you to access a private network.</p>
    <p> To get started, add a public SSH
       key to your profile, then start a new session using the menus above.</p>
  </div>
<% else %>
  <div class="col-md-10 col-md-offset-1">
  <h1>Welcome to Koguchi</h1>
  <p>This is a web interface to request a containerized SSH instance.
     Sign in by using the <em>Sign In</em> dropdown in the upper right hand
     corner.</p>
  </div>
<% end %>
